#wrapper {
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    justify-content: space-between;
    width: 1440px;
}

#center {
    width: 910px;
    background-color: rgb(255, 255, 255);
}

#right {
    width: 440px;
    background-color: rgb(255, 255, 255);
}

#left {
    width: 90px;
    height: 870px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#left_above {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#below {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item {
    width: 32px;
    margin-top: 50px;
}

#setting {
    margin-top: 36px;
}

.headding_center {
    display: flex;
    height: 50px;
    position: relative;
}

.speecher {
    position: absolute;
}

.noty {
    position: absolute;
    border: 1 px solid tomato;
    border-radius: 9;
}

.mic_color {
    position: absolute;
    left: 55%;
}

.footer {
    position: relative;
    display: flex;
    justify-content: space-around;
}

.joiner {
    /* position: absolute; */
    height: 200px;
    margin-top: 600px;
    margin-left: 10px;
}

.heading_right {
    font-size: 30px;
    position: relative;
}

.img_13__ {
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: space-around;
}